<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! Reminder- Edit this for your project! }}
    <title>Budget Buddy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    {{! Navbar }}
   <header>
        <nav class="nav-wrapper teal">
            <div class="container">
                <a href="/" class="brand-logo">Budget Buddy</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>

                    <li><a href="/page-one">Dashboard</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>

                </ul>
            </div>
        </nav>
    </header>
<!-- sidebar -->
      <div class="col-md-3 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item"><a href="/views/page-one.handlebars">Dashboard</a></li>
        </ul>
      </div>
    {{! Content }}
    <main class="container">
      {{!-- Reminder- Depending on which route your user is visiting, the {{{body}}} will be replaced with the respective handlebar located in the /views/ directory!--}}
      {{{body}}}
    </main>

    {{! Footer }}
    <footer class="page-footer teal lighten-2">
        <div class="container">
            <p>&copy; 2024 Budget Buddy. All rights reserved.</p>
        </div>
    </footer>

    {{#if loggedIn}}
      <script src="/public/js/logout.js"></script>
    {{/if}}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

</html>