<body>
  <div>
    {{!-- Render a list of items using the "items" partial --}}
    {{#each expenses}}
      {{!-- Each item is rendered using the "items" partial --}}
      {{> items}}
    {{/each}}
  </div>
  <div>
    {{!-- Render a list of items using the "items" partial --}}
    {{#each incomes}}
      {{!-- Each item is rendered using the "items" partial --}}
      {{> items}}
    {{/each}}
  </div>

  <div>
    <div>
      <h2>Input New Finance Data</h2>
    </div>
    <form id="new-data-form">
      <label for="data-message">Message</label>
      <textarea name="data-message" required></textarea>

      <button type="submit">Create</button>
    </form>
  </div>

  <!-- Include JavaScript file for handling form submissions -->
  <script src="/public/js/newData.js"></script>
</body>