<div>
    {{! Reminder: userExamples comes from the data being passed in the res.render on pageOneRoutes.js! }}
    {{!-- {{#each userExamples}} --}}
    {{!-- <h2>{{message}}</h2> --}}
    <div>This message is specific to this user!</div>
    {{!-- {{/each}} --}}
    <canvas id="pieChart" width="400" height="400"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- custom JS -->
<script src="/js/page-one.js"></script>