/* any css stylesheets can go in this folder */
/* hint- remember to import them in your handlebars! */
#header {
  background-color: black;
  color: green;
}

#footer {
  background-color: black;
  color: green;
}

#nav {
  display: flex;
}

#nav>ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

#nav>ul>li {
  margin: 0 10px;
}

.row{
  position: relative;
  width: 100%;
  padding-right:15px;
  padding-left:15px;
text-align: center;
}